* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #fff;
  height: auto;
  width: 100%;
}

.jarvis_setup {
  display: inline-block;
}

.img {
  border-radius: 50%;
  border: 3px solid #fff;
}
.img2 {
  border-radius: 50%;
}

.temp {
  right: 1px;
  top: 2px;
  width: 15rem;
  height: 9rem;
  overflow: overlay;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburg {
  display: none;
  right: 2px;
  position: absolute;
}

.clock,
.internet,
.date {
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin: 2px;
  padding: 5px;
}

.clock span,
.internet span,
.date span {
  padding: 5px;
}

.close {
  display: none;
  right: 2rem;
  top: 2px;
  position: absolute;
  z-index: 999;
}

@media all and (max-width: 1300px) {
  .temp {
    display: none;
  }
  .hamburg {
    display: block;
    right: 1px;
    position: absolute;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .hamburg:active {
    background-color: #282828;
  }
}

@media all and (max-width: 525px) {
  .temp {
    width: 10rem;
  }
}

::-webkit-scrollbar {
  background-color: #1a1a1a;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(79, 79, 92);
  border-radius: 10px;
}

#start,
#info,
#delete {
  padding: 15px;
  margin: 10px;
  background-color: #3bdc1b;
  color: #fff;
  border: none;
  width: 10.5rem;
  font-size: larger;
  cursor: pointer;
  border-radius: 5px;
}

.chat {
  background-color: #fff;
  color: black;
  height: 25rem;
  width: 19rem;
  margin: auto;
}

.video {
  height: 10rem;
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 10px auto;
  z-index: -1;
  background-size: cover;
}

@media all and (max-width: 638px) {
  .video {
    display: flex;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: auto;
    z-index: -1;
    background-size: cover;
    width: 20rem;
  }
}

.in_middle {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.in_middle label {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 98%;
  align-items: center;
}

.in_middle hr {
  width: 50%;
  margin: auto;
}

.in_middle input {
  padding: 10px;
  width: 60%;
  margin: auto;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.in_middle .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 10rem;
}

.in_middle .submit:hover {
  background-color: #5be43f;
  transition: all 0.2s;
}

@media all and (max-width: 318px) {
  .video {
    width: 15rem;
  }
}

.messages {
  width: 25rem;
  background-color: transparent;
  height: auto;
  max-height: 10rem;
  overflow: overlay;
  margin: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.usermsg {
  text-align: right;
  width: 97%;
  margin-top: 5px;
  color: rgb(113, 113, 235);
  padding: 5px;
}

.jmsg {
  text-align: left;
  width: 97%;
  color: rgb(245, 61, 61);
  margin-top: 5px;
  padding: 5px;
}

@media all and (max-width: 483px) {
  .messages {
    width: 20rem;
  }
}
